
body {
	padding: 0;
	margin: 0;
}
.flex {
	display: flex;
}
.bold {
	font-weight: bold;
}
header {
	height: 150px;
}
a {
	margin: auto;
	color: black;
	text-decoration: none !important;
}
a:hover {
	color: rgba(90, 90, 90, 1);
}
p {
	padding: 0;
	margin: 0;
	display: inline-block;
}
img {
	height: 5em;
}
main {
	padding: 0 6%;
}
ul {
	padding: 0;
}
li {
	list-style-type: none;
}
.containerInput {
	position: relative;
}
#input {
	margin: auto;
	background: rgba(231, 231, 231, 1);
}
@media screen and (max-width: 500px) {
	#input {
		padding-right: 13%;
	}
}
#input::placeholder {
	color: rgba(0,0,0,0.3);
}
#magnifyingGlass {
	position: absolute;
	right: 1.5%;
	top: 6px;
	font-size: 1.5em;
}
#containerKeywords {
	height: auto;
	width: 100%;
	flex-wrap: wrap;
}
.keyword {
	height: 37px;
	padding: 7px;
	margin: 10px 10px 0 0;
	justify-content: space-between;
	color: white;
	border-radius: 3px;
}
.keyword p {
	margin: auto;
}
.fa-times-circle {
	margin: auto 10%;
}
.dropdowns {
	height: 58px;
}
.dropdown {
	margin: auto 1% auto 0;
}
.dropdown-toggle::after {
		margin: auto 0;
	}
@media screen and (max-width: 500px) {
	.dropdown {
		width: 25%;
		margin: auto 1%;
	}
	.dropdown button {
		width: 100%;
	}
	.dropdown button p {
		width: 50%;
		overflow: auto;
	}
}
.dropdown input {
	width: 50%;
	margin-left: 2%;
	border-style: hidden;
	color: rgba(230, 230, 230, 0.8);
}
.dropdown input::placeholder {
	color: rgba(230, 230, 230, 0.8);
}
.dropdown input:focus {
	outline: none;
}
.dropdown-menu {
	transform: translate3d(0) !important;
	top: 0;
}
#containerIngredients {
	width: 800px;
	height: 480px;
	padding: 10px 20px;
	flex-wrap: wrap;
	overflow: auto;
	color: white;
}
#containerIngredients p {
	width: 33%;
}
@media screen and (max-width: 768px) {
	#containerIngredients {
		width: 100%;
		height: 480px;
		flex-direction: column;
		flex-wrap: nowrap;
		overflow: auto;
	}
	#containerIngredients p {
	width: auto;
	margin: 5px 0;
	}
}
#containerAppliance {
	width: 800px;
	height: 220px;
	padding: 10px 20px;
	flex-wrap: wrap;
	overflow: auto;
	color: white;
}
#containerAppliance p {
	width: 33%;
}
@media screen and (max-width: 768px) {
	#containerAppliance {
		width: 100%;
		height: auto;
		flex-direction: column;
		flex-wrap: nowrap;
		overflow: auto;
	}
	#containerAppliance p {
	width: auto;
	margin: 5px 0;
	}
}
#containerUstensils {
	width: 800px;
	height: 300px;
	padding: 10px 20px;
	flex-wrap: wrap;
	overflow: auto;
	color: white;
}
#containerUstensils p {
	width: 33%;
}
@media screen and (max-width: 768px) {
	#containerUstensils {
		width: 100%;
		height: 480px;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	#containerUstensils p {
	width: auto;
	margin: 5px 0;
	}
}
#containerCards {
	flex-wrap: wrap;
	justify-content: space-between;
}
@media screen and (max-width: 500px) {
	#containerCards {
		flex-wrap: nowrap;
		flex-direction: column;
	}
}
.card {
	height: 300px;
	width: 30%;
	margin-bottom: 45px;
	border: 1px solid black;
}
@media screen and (max-width: 500px) {
	.card {
		width: 100%;
		margin-bottom: 25px;
	}
}
@media screen and (min-width: 500px) and (max-width: 1024px) {
	.card {
		width: 46%;
		margin-bottom: 25px;
	}
}
.upCard {
	height: 49%;
	width: 100%;
	background: rgba(199, 190, 190, 1);
}
.downCard {
	height: 51%;
	width: 100%;
	background: rgba(231, 231, 231, 1);
}
.titlePlusTime {
	justify-content: space-between;
	padding: 3% 4.5%;
	font-size: 1em;
}
.titleMenu {
	width: 200px;
	height: 26px;
	overflow: hidden;
}
.menuTime {
	font-weight: bold;
}
.contentMenu {
	justify-content: space-between;
	padding: 0 4.5%;
	font-size: 0.6em;
}
.recipe {
	width: 50%;
	height: 85px;
	text-align: justify;
	overflow: hidden;
}
.upBigCard {
	height: 300px;
	width: 100%;
	background: rgba(199, 190, 190, 1);
}
.titleBigCardAndTime {
	position: relative;
	margin: 50px 0;
}
.titleBigCardAndTime h1 {
	font-size: 2.8em;
	margin: auto;
}
@media screen and (max-width: 768px) {
	.titleBigCardAndTime h1 {
		font-size: 1.9em;
		margin: 0;
	}
}
.timeBigCard {
	position: absolute;
	right: 0px;
	width: 9.5%;
	justify-content: space-between;
	font-size: 1.7em;
}
@media screen and (max-width: 768px) {
	.timeBigCard {
		width: 19%;
		font-size: 1em;
	}
}
.ingredientsOfBigCard {
	margin: 50px 0;
}
.descriptionOfBigCard {
	margin: 50px 0;
}



























